.app-container{
    display: flex;
}

.header-footer{
    width: 100%;
}

.sidebar{
    height: 780px;
}

.HomePage{
    margin: 20px;
}

.productliststore{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.reactions{
    display:flex;
    gap: 3px;
}

.createcontent-form{
    margin: 50px;
    width: 50rem;
}