.app-container {
    display: flex;
}

.header-footer {
    width: 100%;
}

.sidebar {
    min-height: 780px;
}

.createcontent {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.createcontent-form {
    max-width: 50rem;
}

.Yourpost-container {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.Home {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.reactions {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
}

.Loginform-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.Loginform-container {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

.Loginform-delete {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #d21717;
}

.Loginform-text{
    padding-top: 10px;
    color: blue;
    cursor: pointer;
}